<a href="https://colab.research.google.com/github/nagaforjesus/python-projects/blob/main/pproject-4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

3.)Download the weather.csv (file size: 29462KB) file from kaggle site into your
google drive

I downloaded the file from kaggle site and i uploaded the weather.csv file to my google colabs

4.)Import the .csv file and the read it from the pandas library

In [ ]:
import pandas as pd
# I imported pandas as pd and read the file in the file path i uploaded it.
file_path = '/content/drive/MyDrive/Colab Notebooks/weather.csv'
df = pd.read_csv(file_path)

5.) Display the first five and last ten rows of the dataframe.

In [ ]:
import pandas as pd

df = pd.read_csv(file_path)

first_five_rows = df.head(5) #from the file weather.csv i am reading the first five rows which is displayed as the head
print(first_five_rows)

   MinTemp  MaxTemp  Rainfall  Evaporation  Sunshine WindGustDir  \
0      8.0     24.3       0.0          3.4       6.3          NW
1     14.0     26.9       3.6          4.4       9.7         ENE
2     13.7     23.4       3.6          5.8       3.3          NW
3     13.3     15.5      39.8          7.2       9.1          NW
4      7.6     16.1       2.8          5.6      10.6         SSE

   WindGustSpeed WindDir9am WindDir3pm  WindSpeed9am  ...  Humidity3pm  \
0           30.0         SW         NW           6.0  ...           29
1           39.0          E          W           4.0  ...           36
2           85.0          N        NNE           6.0  ...           69
3           54.0        WNW          W          30.0  ...           56
4           50.0        SSE        ESE          20.0  ...           49

   Pressure9am  Pressure3pm  Cloud9am  Cloud3pm  Temp9am  Temp3pm  RainToday  \
0       1019.7       1015.0         7         7     14.4     23.6         No
1       1012.4       1008.4         5         3     17.5     25.7        Yes
2       1009.5       1007.2         8         7     15.4     20.2        Yes
3       1005.5       1007.0         2         7     13.5     14.1        Yes
4       1018.3       1018.5         7         7     11.1     15.4        Yes

   RISK_MM RainTomorrow
0      3.6          Yes
1      3.6          Yes
2     39.8          Yes
3      2.8          Yes
4      0.0           No

[5 rows x 22 columns]

In [ ]:
last_ten_rows = df.tail(10) #im reading the last 10 roles which tail is used to display it.
print(last_ten_rows)

     MinTemp  MaxTemp  Rainfall  Evaporation  Sunshine WindGustDir  \
356      3.4     15.0       0.8          4.8      11.7           S
357      3.2     18.0       0.0          7.4      12.2         SSE
358      0.9     20.7       0.0          5.4       8.4         NNW
359      3.3     25.5       0.0          5.2      10.8           N
360      7.9     26.1       0.0          6.8       3.5         NNW
361      9.0     30.7       0.0          7.6      12.1         NNW
362      7.1     28.4       0.0         11.6      12.7           N
363     12.5     19.9       0.0          8.4       5.3         ESE
364     12.5     26.9       0.0          5.0       7.1          NW
365     12.3     30.2       0.0          6.0      12.6          NW

     WindGustSpeed WindDir9am WindDir3pm  WindSpeed9am  ...  Humidity3pm  \
356           70.0          S          S          35.0  ...           24
357           48.0        SSE          S          26.0  ...           25
358           39.0        SSE          N           2.0  ...           29
359           43.0          N        NNW           4.0  ...           16
360           43.0        NaN        WNW           0.0  ...           20
361           76.0        SSE         NW           7.0  ...           15
362           48.0        NNW        NNW           2.0  ...           22
363           43.0        ENE        ENE          11.0  ...           47
364           46.0        SSW        WNW           6.0  ...           39
365           78.0         NW        WNW          31.0  ...           13

     Pressure9am  Pressure3pm  Cloud9am  Cloud3pm  Temp9am  Temp3pm  \
356       1023.4       1023.1         1         5      8.3     14.3
357       1026.6       1022.8         1         2      9.1     16.3
358       1023.2       1018.4         3         8      9.4     19.1
359       1018.8       1014.6         0         3     12.0     24.8
360       1017.6       1014.2         5         8     16.3     25.9
361       1016.1       1010.8         1         3     20.4     30.0
362       1020.0       1016.9         0         1     17.2     28.2
363       1024.0       1022.8         3         2     14.5     18.3
364       1021.0       1016.2         6         7     15.8     25.9
365       1009.6       1009.2         1         1     23.8     28.6

     RainToday  RISK_MM RainTomorrow
356         No      0.0           No
357         No      0.0           No
358         No      0.0           No
359         No      0.0           No
360         No      0.0           No
361         No      0.0           No
362         No      0.0           No
363         No      0.0           No
364         No      0.0           No
365         No      0.0           No

[10 rows x 22 columns]

6.) Extract the column labels of the dataframe and find the dimension of the
dataframe.

In [ ]:
column_labels = df.columns  #i extracted the column lable of the dataframe
print("Column Labels:", column_labels)

Column Labels: Index(['MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation', 'Sunshine',
       'WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm',
       'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm',
       'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am',
       'Temp3pm', 'RainToday', 'RISK_MM', 'RainTomorrow'],
      dtype='object')

In [ ]:
num_rows, num_columns = df.shape

print("Number of Rows:", num_rows) #I use this piece of code to extract the dimension of the dataframe.
print("Number of Columns:", num_columns)

Number of Rows: 366
Number of Columns: 22

7.). Access the “Humidity9am” and “Humidity3pm” by using methods in python

In [ ]:
humidity_9am = df["Humidity9am"]  #In this code df["Humidity9am"] accesses the "Humidity9am" column and stores it in the humidity_9am variable.

print(humidity_9am)

0      68
1      80
2      82
3      62
4      68
       ..
361    38
362    45
363    63
364    69
365    43
Name: Humidity9am, Length: 366, dtype: int64

In [ ]:
humidity_3pm = df["Humidity3pm"]  #In this code df["Humidity3pm"] accesses the "Humidity3pm" column and stores it in the humidity_3pm variable.

print(humidity_3pm)

0      29
1      36
2      69
3      56
4      49
       ..
361    15
362    22
363    47
364    39
365    13
Name: Humidity3pm, Length: 366, dtype: int64

8.) Find the data types of each column in your data frame.

In [ ]:
data_types = df.dtypes  # i used the df.dtypes inbuilt functions to know all type of datatypes in my dataframe

print(data_types)

MinTemp          float64
MaxTemp          float64
Rainfall         float64
Evaporation      float64
Sunshine         float64
WindGustDir       object
WindGustSpeed    float64
WindDir9am        object
WindDir3pm        object
WindSpeed9am     float64
WindSpeed3pm       int64
Humidity9am        int64
Humidity3pm        int64
Pressure9am      float64
Pressure3pm      float64
Cloud9am           int64
Cloud3pm           int64
Temp9am          float64
Temp3pm          float64
RainToday         object
RISK_MM          float64
RainTomorrow      object
dtype: object

9.)Display a sample size (25%) from the original data frame with weather data

In [ ]:
sample_size = int(0.25 * len(df))  # i Calculated 25% of the DataFrame size with the 0.25
sample = df.sample(n=sample_size)  # i Use the sample inbuilt method to get a random sample of 25%

sample

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
326,3.2,21.9,0.0,6.8,5.2,NW,80.0,SSE,NW,2.0,...,50,1012.1,1006.5,1,8,15.9,21.0,No,17.4,Yes
111,12.0,28.9,0.0,7.2,8.2,ESE,39.0,SSE,WNW,2.0,...,31,1012.2,1009.1,2,7,17.4,28.6,No,1.8,Yes
275,4.4,11.5,6.6,2.2,9.3,WNW,57.0,NNW,WNW,28.0,...,56,1013.9,1014.9,1,1,6.9,10.5,Yes,0.0,No
129,12.1,27.8,0.0,5.0,11.5,E,41.0,SE,NNE,7.0,...,33,1024.8,1023.1,0,1,17.8,27.0,No,0.0,No
40,11.8,18.5,0.6,4.8,2.3,ENE,35.0,ESE,E,9.0,...,63,1018.0,1017.4,8,6,13.8,16.4,No,0.0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208,4.9,18.1,5.2,1.2,8.5,NNW,22.0,NaN,NW,0.0,...,55,1025.7,1022.3,1,1,8.9,17.7,Yes,0.0,No
145,13.1,17.4,6.4,2.8,0.0,NNW,43.0,N,N,11.0,...,93,1010.2,1006.5,8,8,16.4,16.6,Yes,19.8,Yes
295,-0.6,12.2,0.0,2.6,7.0,S,59.0,S,S,15.0,...,44,1018.5,1016.8,8,5,6.9,10.7,No,0.0,No
346,4.5,23.9,0.0,4.8,11.7,NW,30.0,ENE,NNW,4.0,...,27,1025.8,1021.5,0,4,12.6,22.3,No,0.0,No
117,13.0,28.2,0.0,5.0,11.6,NW,44.0,WSW,NW,4.0,...,27,1017.6,1014.4,3,6,17.4,27.0,No,0.0,No

10.) Create the following data frame in Python.

In [ ]:
import pandas as pd

#  i Created a dictionary with the data
data = {
    'Name': ['John', 'Tapan', 'Mike', 'Josh', 'Kindson', 'Dimuthu'],
    'Age': [24, 32, 36, 28, 38, 25],
    'Height': [165, 170, 180, 178, 182, 168],
    'Location': ['Stockholm', 'Bangalore', 'Sydney', 'London', 'Budapest', 'Colombo']
}

# Created the DataFrame
df = pd.DataFrame(data)


print(df)

      Name  Age  Height   Location
0     John   24     165  Stockholm
1    Tapan   32     170  Bangalore
2     Mike   36     180     Sydney
3     Josh   28     178     London
4  Kindson   38     182   Budapest
5  Dimuthu   25     168    Colombo

11.) Display the first and last three columns of the dataframe

In [ ]:
import pandas as pd

file_path = '/content/drive/MyDrive/Colab Notebooks/weather.csv'

# I Read the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Select the first and last three columns using DataFrame slicing
first_three = df.iloc[:, :3]

print(first_three)

     MinTemp  MaxTemp  Rainfall
0        8.0     24.3       0.0
1       14.0     26.9       3.6
2       13.7     23.4       3.6
3       13.3     15.5      39.8
4        7.6     16.1       2.8
..       ...      ...       ...
361      9.0     30.7       0.0
362      7.1     28.4       0.0
363     12.5     19.9       0.0
364     12.5     26.9       0.0
365     12.3     30.2       0.0

[366 rows x 3 columns]

In [ ]:
last_three = (df.iloc[:, -3:])

print(last_three)

    RainToday  RISK_MM RainTomorrow
0          No      3.6          Yes
1         Yes      3.6          Yes
2         Yes     39.8          Yes
3         Yes      2.8          Yes
4         Yes      0.0           No
..        ...      ...          ...
361        No      0.0           No
362        No      0.0           No
363        No      0.0           No
364        No      0.0           No
365        No      0.0           No

[366 rows x 3 columns]

12.) . What is the output of the following code? Explain the append method in the
dataframe.

In [ ]:
import pandas as pd

# Create the first DataFrame 'df'
df = pd.DataFrame({'Courses': ["Spark", "PySpark", "Python", "pandas"],
                   'Fee': [20000, 25000, 22000, 24000]})

# Create the second DataFrame 'df1'
df1 = pd.DataFrame({'Courses': ["Pandas", "Hadoop", "Hyperion", "Java"],
                    'Fee': [25000, 25200, 24500, 24900],
                    'Duration': ['30days', '35days', '40days', '45days']})

# Using append() method to concatenate 'df' and 'df1'
df2 = df.append(df1)

# Print the concatenated DataFrame 'df2'
print(df2)

    Courses    Fee Duration
0     Spark  20000      NaN
1   PySpark  25000      NaN
2    Python  22000      NaN
3    pandas  24000      NaN
0    Pandas  25000   30days
1    Hadoop  25200   35days
2  Hyperion  24500   40days
3      Java  24900   45days

<ipython-input-20-86e31a173e56>:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df.append(df1)

The append() method is used to concatenate df and df1. When using append(), the DataFrames are concatenated row-wise. The index values from both DataFrames are retained, which is why you see index values 0, 1, 2, 3 for both parts of the concatenated DataFrame df2