<a href="https://colab.research.google.com/github/nagaforjesus/python-projects/blob/main/project-5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
1.

In [ ]:
def factorial (n): #Define the factorial function
    if n == 0:
        return 1    #the exit condition
    else:
        return n * factorial(n - 1) #This is recursive case


num = int(input("Enter a number: ")) #input the factorial number to be checked.
result = factorial(num)
print(f" the factorial of {num} is {result}")

Enter a number: 5
 the factorial of 5 is 120

2a.

In [ ]:
def calculate_y(m, x, b):
    if b == 0:
        raise ValueError("Cannot divide by zero (b cannot be 0)")
    y = ((m * x) + b) / b
    return y

In [ ]:
m = float(input("Enter the value of m: "))

Enter the value of m: 0

In [ ]:
x = float(input("Enter the value of x: "))

Enter the value of x: 3

In [ ]:
b = float(input("Enter the value of b: "))

Enter the value of b: 0

In [ ]:
try:
    result = calculate_y(m, x, b)
    print(f"Result of the function: {result}")
except ValueError as e:
    print(e)

Cannot divide by zero (b cannot be 0)

2b.

In [ ]:
def calculate_x(m, y, b):
    if m == 0:
        raise ValueError(" division by zero error (m cannot be 0)")
    x = (y * b - b) / m
    return x

In [ ]:
slope = float(input("Enter the value of slope (m): "))

Enter the value of slope (m): 6

In [ ]:
target_y = float(input("Enter the value of y: "))

Enter the value of y: 12

In [ ]:
x_intercept = float(input("Enter the value of x-intercept (b): "))

Enter the value of x-intercept (b): 18

In [ ]:
try:
    calculated_x = calculate_x(slope, target_y, x_intercept)
    print(f"The calculated value of x: {calculated_x}")
except ValueError as e:
    print(e)

The calculated value of x: 33.0

2c.

In [ ]:
def calculate_x(y, slope, y_intercept):
    if slope == 0:
        print("Error: The slope cannot be 0.")
        return None

    x = (y - y_intercept) / slope
    return x

y_value = 10
slope = -2
y_intercept = 4

result = calculate_x(y_value, slope, y_intercept)

if result is not None:
    print(f"The value of x for y = {y_value}, slope = {slope}, and y-intercept = {y_intercept} is {result}")

The value of x for y = 10, slope = -2, and y-intercept = 4 is -3.0

3d.

In [ ]:
# Define the Personal class
class Personal:
    # I Construct method to initialize the attributes
    def __init__(self, name, age, company):
        self.name = name
        self.age = age
        self.company = company

    #  I Customed string representation for printing the object
    def __str__(self):
        return f"My name is {self.name} and I am {self.age} years old i work for {self.company}."

#  I Created an instance of the Personal class with the provided information
person = Personal("John", 30, "Qorvo")

In [ ]:
print(person)

My name is John and I am 30 years old i work for Qorvo.

3e.

In [ ]:
# Defined the Dog class
class Dog:
    # Constructor to initialize attributes breed and color
    def __init__(self, breed, color):
        self.breed = breed
        self.color = color

    #used method to display dog details
    def details(self, name):
        print(f"{name} is a dog")
        print(f"Breed: {self.breed}")
        print(f"Color: {self.color}")

# Created instances of the Dog class
rodger = Dog("Pug", "brown")
buzo = Dog("Bulldog", "black")

In [ ]:
rodger.details("Rodger")
print()

Rodger is a dog
Breed: Pug
Color: brown

In [ ]:
buzo.details("Buzo")
print()

Buzo is a dog
Breed: Bulldog
Color: black